<!DOCTYPE html>
<html ng-app="signUp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    </style>
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="javascripts/service.js"></script>
  </head>
  <body>

    <div ui-view id="panel">

    </div>
  </body>
</html>
