
    <div class="label info">Your Name:</div>
    <div class="result">{{user.firstName}} {{user.lastName}}</div><hr>
    <div class="label info">Apple ID and Primary Email Address:</div>
    <div class="result">{{user.username}}</div><hr>
    <div class="label info">Your Birthday:</div>
    <div class="result">{{user.birthday}}</div><hr>
    <div class="label info">Your Bio:</div>
    <div ng-class="{display:showBio}" class="info result"><span>{{user.bio}}</span></div>
    <div ng-class="{display:hiddenBio}">
        <textarea type="text" rows="10" ng-model="bio"></textarea>
        <div style="display: inline-block;width: 37%;text-align: right;">
            <button class="clear success" ng-click="hiddenBio = true;showBio = false;">Cancel</button><button ng-click="updateBio();" class="submit success">Save</button>
        </div>
        <div><small>{{messageBio}}</small></div>
    </div>
    <div ng-class="{display:!hiddenBio}"><a class="edit" ng-click="hiddenBio = false;showBio = true;messageBio = '';bio = user.bio">Edit</a></div><hr>
    <div class="label info">Your Interests:</div>
    <div ng-class="{display:showInt}" class="info result"><span>{{user.interests}}</span></div>
    <div ng-class="{display:hiddenInt}">
        <textarea type="text" rows="10" ng-model="interests"></textarea>
        <div style="display: inline-block;width: 37%;text-align: right;">
            <button class="clear success" ng-click="hiddenInt = true;showInt = false;">Cancel</button><button ng-click="updateInt();" class="submit success">Save</button>
        </div>
        <div><small>{{messageInt}}</small></div>
    </div>
    <div ng-class="{display:!hiddenInt}"><a class="edit" ng-click="hiddenInt = false;showInt = true;messageInt = '';interests = user.interests;">Edit</a></div>
